.main {
    background-color: #efefef;

}

.mainView {
    margin: auto;
    max-width: 935px;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.mainSection {
    /*float: left;*/
    display: flex;
    flex-direction: column;
    width: 614px;
    margin: 0px 28px 0px 0px;
}

.aside {
    /*float: left;*/
    display: flex;
    flex-direction: column;
    width: 293px;
    margin: 0px 0px 30px 0px;
    background-color: #efefef;
}
