@import "reset.css";
@import "header.css";
@import "main.css";
@import "story.css";
@import "feed.css";
@import "aside.css";
@import "footer.css";
@import "relative.css";

body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    left: 0;
    right: 0;
}
